<div class="jumbotron">
    <h1>Welcome to my application</h1>
    <p>It's okay for now.</p>
    <%= link_to 'Home', root_path, class: "btn btn-default btn-lg" %>
    <%= link_to 'About Us', home_about_path, class: "btn btn-default btn-lg" %>
</div>
